$color-black:#222;
$color-grey: #e3e6f3;
$color-greyish-green:#465b52;
$color-back-2:#1a1a1a;
$color-bluish-green:#088178;
$color-pink: #fddde4;
$color-light-green:#cdebbc;
$color-light-green-1:#cce7d0;

